<!DOCTYPE html>


<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ReservApp</a>
    </div>
    <ul class="nav navbar-nav">
          <% unless user_signed_in? %>
              <li class="active"><a href="#">Home</a></li>
              <li><a href=/users/sign_in>Log in</a></li>
              <li><a href=/users/sign_up>Sign up</a></li>       
          <%  else %>
              <li><a href=../meetings/>Mis reservas</a></li>
              <li><a href=../meetings/new>Nueva reserva</a></li>
              <li><a href=../../users/sign_out>Salir</a></li>
          <% end %>
    </ul>
  </div>
</nav>
   

<html>
  <head>
    <title>Kickstart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application" %>

<% javascript_include_tag "application" %>
 
    <%javascript_include_tag "https://js.stripe.com/v3", 'data-turbolink-track':'reload'%>
    <%tag :meta, name: "stripe-public-key", content: Rails.application.credentials.stripe_publishable_key%>
  </head>

 <body class="bg-grey-lighter">

  <% flash.each do |type, message| %>
    <% if type == "alert" %>
      <div class="bg-red-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
    <% if type == "notice" %>
      <div class="bg-green-500">
        <div class="container px-2 mx-auto py-4 text-white text-center font-medium font-sans"><%= message %></div>
      </div>
    <% end %>
  <% end %>

    

    <main class="lg:px-10 px-4">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
